*{
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Roboto', sans-serif;
    color: #444444;

}

h2 span {
    color: #fafafa;
    background-color: rgba(0, 91, 249, 0.853);
    padding: 4px 15px;
    border-style: solid;
    border-radius: 8px;
}
