.miLogo {
    width: 80px;
}

.miFondo {
    background-color: black;
    object-fit: cover;
}

.nav-link {
    font-size: 22px;
    color: #fafafa;
}

.miLink:hover {
    background-color: #070707;
    color: #fafafa;
}